    .background {
        background: black;
    }
    
    .icon:hover {
        filter: drop-shadow(0px 0px 20px #00FFE0);
        transition: all 0.3s ease-in;
    }
    
    .link:hover {
        /* text-decoration: underline !important; */
        color: #00FFE0 !important;
        transition: all 0.3s ease-in;
    }
    
    .link:hover::after {
        content: '  ->';
        opacity: 1;
        transition: all 0.3s ease-in;
        margin-left: 10px;
        width: 30px;
    }
    
    .link {
        transition: all 0.3s ease-in;
    }
    
    .link:after {
        transition: all 0.3s ease-in;
        content: '';
        opacity: 0;
        margin-left: 0px;
    }
    
    .link:hover .icon {
        filter: drop-shadow(0px 0px 20px #00FFE0);
        transition: all 0.3s ease-in;
    }
    
    .gameplayVideo {
        background: linear-gradient(231.57deg, #005D6A 11.82%, #000000 82.4%);
        /* bladers/solid/blue */
        border: 1px solid #24FFFF;
        box-sizing: border-box;
        box-shadow: 0px 10px 40px rgba(0, 255, 224, 0.6);
        border-radius: 22px;
        transition: all 0.3s ease-in;
        cursor: pointer;
    }
    
    .gameplayVideo:hover {
        box-shadow: 0px 10px 40px rgba(0, 255, 224, 0.6);
        opacity: 1 !important;
        transition: all 0.3s ease-in;
    }
    
    video {
        transition: all 0.5s ease-in;
    }
    
    video::-webkit-media-controls {
        display: none;
    }
    
    video:hover {
        transform: scale(1.1);
        transition: all 0.6s ease-in;
    }
    
    .journeyBox {
        background: linear-gradient(231.57deg, #005D6A 11.82%, #000000 82.4%);
        box-shadow: 0px 0px 28.1247px #FE3D00;
        border-radius: 9.24098px;
    }